.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
src/*.o-*
*.so
*.dll
inst/doc
*.Rds
vignettes/*.R
vignettes/milr-intro_cache
vignettes/MilData
vignettes/MIL-Data-2002-Musk-Corel-Trec9.tgz
vignettes/*.html
vignettes/*.md
